.products{
    margin-top: 100px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product{
    width: 22%;
    margin-bottom: 100px;
}
.product img{
    width: 100%;
}
.view-product{
    width: fit-content;
}
.product-info{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
}
.product-name-price{
    width: 50%;
}
.view-product h5{
    width: fit-content;
    cursor: pointer;
    background: #d2302c;
    color: #f6f4f6;
    padding: 7px 15px;
    border-radius: 10px;
    transition: .2s;
}
.view-product h5:hover{
    background: #9c2321;
    
}
.categories{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.categories h3{
    width: fit-content;
    cursor: pointer;
    background: #d2302c;
    color: #f6f4f6;
    padding: 7px 15px;
    border-radius: 10px;
    transition: .2s;
}
.categories h3:hover{
    background: #9c2321;
    
}