.navigation{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: fit-content;
    margin-left: 20px;
}
.logo img{
    width: 150px;
    cursor: pointer;
}
.pages{
    display: flex;
}
.pages p{
    margin-right: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.25s;
    cursor: pointer;
}
.pages p:hover{
    text-decoration: underline;
}
.w3-badge{
    background: #d2302c;
    color: #f6f4f6;
}