.navigation{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: fit-content;
    margin-left: 20px;
}
.logo img{
    width: 150px;
    cursor: pointer;
}
.pages{
    display: flex;
}
.pages p{
    margin-right: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}
.pages p:hover{
    text-decoration: underline;
}
.w3-badge{
    background: #d2302c;
    color: #f6f4f6;
}

@media only screen and (max-width: 425px){
    .logo img{
        width: 100px;
    }
    .nav-home{
        display: none;
    }
    .logo{
        margin-left: 10px;
    }
    .pages p{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 768px){
    .logo img{
        width: 120px;
    }
    .logo{
        margin-left: 10px;
    }
    .pages p{
        margin-right: 10px;
    }
}